


* {
	margin: 0;

	padding: 0;
}


/* .sherlock{
	width: 50px;
	height: 50px;
} */

body { 
	position: relative;
	opacity: 1;
	background-size: cover;
	background-position: top center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	width: 100%;
	height: 80%;
}
h1, h2, h3, h4 { font-weight: normal; }

header {
	position: relative;
	opacity: 1;
	width: 100%;
	height: 80%;
	
	
}
header>.ban{
	background-size: cover;
	background-position: top center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-image: url("https://images.unsplash.com/photo-1585747860715-2ba37e788b70?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8YmFyYmVyc2hvcHxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80");
}





form {
	display: block;
}


body > img { width: 100vw;
height: 85vh; }


@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 668px)
and (-webkit-min-device-pixel-ratio: 2) {
	
	header {
	
		background-attachment: scroll;

	  }
	  body > img { width: 100vw;
		  height: 20vh; }
		  
}



nav>ul>li {
    display: inline-block;
  }
  
  nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    
    overflow: auto;
    padding: 10px 30px 20px 10px;
	background: #E6DADA;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #0000005b, #f7f7f7);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #0a0c0c7e, #E6DADA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	
	
  }

  .pxtext {
	position: absolute;
	top: 55%;
	width: 100%;
	padding-left: 0%;
	left: 20px;
  }
  
  .prm-nav {
    float: left;
    font-size: 20px;
  }
  
  .prm-nav>a {
    letter-spacing: 5px;
	text-decoration: none;
  }
  
  .prm-nav>img {
    width: 100px;
	height: 100px;
  }
  
  .secondary-nav>a {
    letter-spacing: 1px;
    color: rgba(242, 242, 242, 0.6);
    font-size: 15px;
    letter-spacing: 3px;
    padding-right: 20px;
  }
  
  .secondary-nav {
    float: right;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 20px;
  }
  
  nav>ul>li>a {
    color: black;
    font-family: helvetica;
    text-decoration: none;
  }
  
  nav>ul>li>a:hover {
    color: #cb4335;
    transition: .7s ease;
	text-decoration: none;
	transition: 0.5s;
  }
.productList {
	list-style-type: none;
}

.productList li {
	padding: 2vw;
	border-bottom: 1px solid #ddd;
	display: grid;
	grid-template-columns: 18% 80%;
}

.productList img {width: auto; display: block; max-width: 10vw;}

p.price {display: block; text-align: right; font-weight: bold; font-size: 2em;}
a.more {display: block; text-align: right; font-weight: bold; float: right; background-color: #3665f3;
	color: white;

	font-size: 2em;
	padding: 0.5em;
	cursor: pointer; }

main {padding: 3vw; display: block; overflow: hidden; width: 80vw; margin: auto; border-left: 2px solid #ddd; border-right: 2px solid #ddd;}

article.product {
	display: grid;
	grid-template-columns: 60% 40%;
	grid-template-areas: "img details"
	"description description"
	"reviews reviews"
}

article.product img {
	grid-area: img;
}

main h1 {margin-top: 5vw; margin-bottom: 5vw;}
article .details {
	grid-area: details;
}

article .reviews {
	grid-area: reviews;

}

textarea {width: 100%; height: 20em;}
.reviews form {margin-top: 5em;}
.reviews ul {
	list-style-type: none;
}

.desc{
	width: 50%;
	height: 10em;
	margin-bottom: 20px;

}
.reviews li{
	padding-top: 1em;
	padding-bottom: 1em;
	border-bottom: 1px solid #ddd;
}

article .description {
	grid-area: description;
	padding-top: 3em;
	padding-bottom: 3em;
}

.price {
	color: grey;
	font-size: 10px;
  }

  .thumbnail img{
	width: 100%;
	height: 150px;
}
.caption {
	height:110px;
}



time {display: block; margin: 1em 0;}


.details p {
	margin-top: 0.5em;
}

.servicesH1{
	font-size: 50px;
	text-align: center;
}
.container {
	max-width: 400px;
	margin: 0 auto;
	padding: 0 15px; 

}
	.card {
		
		-webkit-box-flex: 1;
		-ms-flex: 1 1 50%;
		flex: 1 1 50%;
		border: 1px solid #efefef;
		margin: 15px 0;
		-webkit-box-shadow: 2px 6px 25px rgba(0, 0, 0, 0.1);
		box-shadow: 2px 6px 25px rgba(0, 0, 0, 0.1);
		-webkit-transition: all .3s ease;
		transition: all .3s ease;
		position: relative; }
		.card:hover {
		  -webkit-box-shadow: 2px 6px 30px rgba(0, 0, 0, 0.2);
		  box-shadow: 2px 6px 30px rgba(0, 0, 0, 0.2); }
		.card h1 {
		  margin: 0;
		  font-size: 1.75rem;
		  line-height: 1.2; }
		.card p {
		  margin: 0 0 30px;
		  color: #666666; }
		.card .subtitle {
		  margin: 0 0 15px;
		  font-size: 1.25rem;
		  font-weight: 700;
		  color: #E76C67; }
		.card .card-image {
		  height: 200px;
		  background-size: cover;
		  background-position: center center;
		  background-repeat: no-repeat; }
		.card .card-content {
		  padding: 30px 30px 110px; }
		.card .card-details {
		  position: absolute;
		  width: 100%;
		  bottom: 0;
		  left: 0; }
		.card .card-details-inner {
		  border-top: 1px solid #efefef;
		  margin: 0 30px;
		  padding: 30px 0;
		  display: -webkit-box;
		  display: -ms-flexbox;
		  display: flex;
		  -webkit-box-pack: justify;
		  -ms-flex-pack: justify;
		  justify-content: space-between;
		  -webkit-box-align: center;
		  -ms-flex-align: center;
		  align-items: center; }
		.card .options a {
		  color: #666666; }
		  .card .options a:hover {
			color: #222222; }
		.card .options .fa {
		  margin-right: .25rem; }
	  
	  @media screen and (min-width: 800px) {
		.card {
		  margin: .5rem; } }
	  
	  .button {
		display: block;
		font-size: 1rem;
		background: #838282;
		border: 1px solid #f5f5f5;
		padding: 10px 15px;
		color: white;
		text-decoration: none;
		font-weight: 700;
		text-align: center; }
		.button:hover, .button:focus {
		  background: #0c0c0c;
		  border: 1px solid #383838; }  


.hpp{

			display: flex;
			height: 100vh;
			justify-content: center;
			justify-items: center;
			background: #E6DADA;  /* fallback for old browsers */

			padding: 1em;
			box-sizing: border-box;
			height: 50vh;
			background-color: ;
}

.container>card>a{
	text-decoration: none;
	background-color: rgba(128, 128, 128, 0.344);
	border-radius: 10px;
	color:Black;
}

.hpp>form>td{
	background: -webkit-linear-gradient(to left, #0000001b, #ffffff80);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #0a0c0c7e, #E6DADA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

		  .login-container {
			max-width: 1170px;
			margin-left: auto;
			margin-right: auto;
			padding: 1em;
			box-sizing: border-box;
			height: 50vh;
		}

		.login-container>ul {
			list-style: none;
			padding: 0;
		}
	   
		.brand {
			text-align: center;
		}
	   
		.brand span {
			color: #fff;
		}
	   
		.wrapper {
			box-shadow: 0 0 20px 0 rgba(77, 128, 179, 0.7);
		}
	   
		.wrapper > *{
			padding: 1em;
		}
	   
		.company-info {
			background: #999b9d;
		}
	   
		.company-info h3, .company-info ul {
			text-align: center;
			margin: 0 0 1rem 0;
		}
	   
		.contact {
			background: #f9feff;
		}
	   
		/* FORM STYLES */
	   
		.contact form {
		   display: grid;
		   grid-template-columns: 1fr 1fr;
		   grid-gap: 20px;
		}
	   
		.contact form label {
			display: block;
		}
	   
		.contact form p {
			margin: 0;
		}
	   
		.contact form .full {
			grid-column: 1 / 3;
			
		}
	   
		.contact form button, .contact form input, .contact form textarea {
			width: 80%;
			padding: 1em;
			border: 1px solid #c9e6ff;
		}
		
	   
		.contact form button {
			background:  rgba(100, 101, 102, 0.7);
		;
			border: 0;
			text-transform: uppercase;
		}
	   
		.contact form button:hover, .contact form button:focus {
			background: #92bde7;
			color: #fff;
			outline: 0;
			transition: background-color 1s ease-out;
		}
	   
		i {
			padding-right: 5px;
		}
	   
		/* LARGE SCREENS */
		@media(min-width:700px){
			.wrapper {
				display: grid;
				grid-template-columns: 1fr 2fr;
			}
			.wrapper > *{
				padding: 2em;
			}
	   
			.company-info h3, .company-info ul, .brand {
				text-align: left;
			}
		}


		.bg-red {
			background-color: var(--red);
		}
		
		.bg-white {
			background-color: var(--white);
		}
		
		.bg-black {
			background-color: var(--black);
		}
		
		.bg-blue {
			background-color: var(--blue-one);
		}
		
		.bg-green {
			background-color: var(--green-one);
		}
		.row {
			display: flex;
			flex-wrap: wrap;
			flex-direction: row;
		}
		
		.row:after, .row:before {
			box-sizing: border-box;
		}
		
		.col-6 {
			width: 50%;
			position: relative;
		}
		
		.slider {
			overflow: hidden;
			height: 500%;
		}
		
		.fullheight {
			height: 100vh;
		}
		
		.product-img {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 100%;
		}
		
		.img-wrapper img {
			height: auto;
			width: 80%;
			transform: rotate(-35deg);
		}
		
		.more-images {
			position: absolute;
			right: 90px;
			top: 50%;
		}
		
		.more-images-item {
			height: fit-content;
			border-radius: 15px;
			overflow: hidden;
			margin: 5px 0;
		}
		
		.more-images-item img {
			height: auto;
			width: 80px;
			border-radius: 15px;
			transition: 1s;
		}
		
		.more-images-item:hover img {
			transform: scale(1.5);
		}
		
		.more-images-item:hover {
			cursor: pointer;
		}
		
		.product-info {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 100%;
			padding: 0 10%;
			color: var(--silver);
		}
		
		.info-wrapper {
			margin: auto;
			position: relative;
			text-align: right;
		}
		
		.product-name h2 {
			font-weight: 900;
			font-size: xxx-large;
			color: var(--black);
		}
		
		.product-price {
			font-weight: 900;
			font-size: xx-large;
			color: var(--black);
		}
		
		.product-price span {
			font-size: large;
			color: var(--black-two);
		}
		
		.product-size {
			margin: 20px 0;
		}
		
		.size-wrapper {
			display: flex;
			flex-flow: row-reverse;
			padding: 5px;
		}
		
		.size-wrapper div {
			font-weight: 900;
			margin: 5px;
			width: 50px;
			height: 50px;
			border-radius: 50%;
			padding: 13px;
			border: 2px solid var(--silver);
			color: var(--silver);
		}
		
		.size-wrapper div.active {
			border: 2px solid var(--black);
			color: var(--black);
		}
		
		.size-wrapper div:hover {
			border: 2px solid var(--black);
			color: var(--black);
			cursor: pointer;
		}
		
		.color-wrapper {
			display: flex;
			flex-flow: row-reverse;
			padding: 5px;
		}
		
		.color-wrapper > div {
			margin: 5px;
			width: 50px;
			height: 50px;
			border-radius: 50%;
			padding: 3px;
			border: 2px solid var(--silver);
			background-color: var(--silver);
		}
		
		.color-wrapper > div.active {
			border: 2px solid var(--black);
		}
		
		.color-wrapper > div:hover {
			cursor: pointer;
			border: 2px solid var(--black);
		}
		
		.color-wrapper > div >div {
			width: 40px;
			height: 40px;
			border-radius: 50%;
		}

		.index > a {
			font-weight: 900;
			font-size: x-large;
			padding: 15px 60px;
			border-radius: 30px;
			border: 2px solid var(--black);
			background-color: var(--white);
			color: var(--black);
			transition: .5s;
			text-decoration: none;
		}
		
		.index > a:hover {
			cursor: pointer;
			background-color: var(--black);
			color: var(--white);
		}
		
		.img-col {
			border-bottom-left-radius: 100%;
		}

		  
:root {
	--red: #ff3838;
	--white: #ffffff;
	--black: #000000;

	--red-one: #94909196;
	--red-two: #acabaa;

	--green-one: #56ab2f;
	--green-two: #94d049;

	--black-one: #232526;
	--black-two: #70767b;

	--blue-one: #021B79;
	--blue-two: #0575E6;

	--silver: #bdc3c7;
}




footer{
    width:100%; 
    font-family: Raleway; 
}


.footer-copy-redes {
    width:100%; 
    background: #000;
    border-top: 3px solid #fff;
    
}

.main-copy-redes{
    width: 98%;
    max-width: 1000px; 
    padding: 15px 0; 
    margin: auto; 
    display: auto; 
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-between; 
    -ms-align-items: center; 
    align-items: center; 
    
}

.main-copy-redes .footer-copy {
    width: 70%; 
    color: #fff; 
}
.main-copy-redes .footer-redes{
    width: 30%;  
    display: flex;
    flex-wrap:wrap; 
    justify-content: space-between; 
    
}

.main-copy-redes .footer-redes a{
    display: inline-block; 
    text-decoration: none; 
    width: 40px; 
    height: 40px; 
    line-height: 40px; 
    border-radius: 50%; 
    background:  #fff; 
    color: #000; 
    text-align: center; 
}

@media screen and (max-width: 750px){
    .info-main{
        padding: 30px 100px;
        
    }
    .footer-main .footer-columna {
        padding: 0 10px;
        
    }
    
    .footer-main .footer-columna h3 {
        font-size:  28px; 
        
    }
    .footer-main .footer-columna p {
        font-size: 14px;
        
    }
}
@media screen and (max-width: 640px){
    .info-main{
        padding: 30px 30px; 
    
    }
    .info-main h3 {
        font-size: 30px; 
    }
    .footer-main{
        padding: 10px 0; 
        
    }
    .footer-main .footer-columna{
        width: 100%;
        text-align: center; 
        margin: 10px 0; 
    }
    
    .footer-main .footer-columna {
        margin-bottom: 5px; 
        
    }
    
    .footer-main .footer-columna span{
        display: block; 
    }
    
    .main-copy-redes .footer-copy {
        width: 100%;
        text-align: center; 
        margin-bottom: 20px; 
        
    }
    .main-copy-redes .footer-redes{
        width: 80%; 
        margin: auto; 
        
    }
}